@import "nav.css";
@import "footer.css";

html,
body {
  height: 130%;
}
/* https://www.youtube.com/watch?v=IJqTtoGyEjs */
body {
  display: flex;
  flex-direction: column;
}

.search-results {
  width: 100%;
  padding: 60px 0;
  flex-grow: 1;
}

.heading {
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 400;
  margin-bottom: 40px;
  padding: 0 10vw;
}

.heading span {
  font-weight: 700;
}

.product-container {
  /* display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: auto;
  grid-row-gap: 40px; */
  display: flex;
  flex-wrap: wrap;
  padding: 0 0 0 10vw;
}
